/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: #1F2937;
    margin-right: 150px;
    margin-left: 80px;
    top:0;
    position: sticky;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    line-height: 12px;
    border-radius: 4px;
    color: #E5E7EB;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #ddd;
    color: #1F2937;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
    font-size: 18px;
  }

  /* Section 1 Styling */
  .section1 {
    background-color: #1F2937;
    margin-right: 150px;
    margin-left: 80px;
    display: flex; /* Make section1 a flex container */
    justify-content: space-between; /* Space between text and image */
    align-items: center; /* Align items vertically */
    gap: 40px; /* Add some space between the text and the image */
}

section1-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 60px;
  flex: 1;
}

section1-text h1 {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: bold;
}


section1-text p{
  color: #e5e7eb;
  font-size: 18px;
  
}

section1-text a{
  color: #F9FAF8;
  font-weight: bold;
  text-decoration: none;
  background-color: #3882f6;
  max-width: 120px;
  text-align: center;
  padding: 7px;
  border-radius: 6px;
  margin-bottom: 20px;
}

section1-picture {
  display: block;
  flex: 1; 
}

section1-picture img {
  height: auto; 
  max-width: 25%; 
  object-fit: cover; 
}